/**
 * Style Defaults
 */
body {
  color: #303030;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a:link {
  color: #db0a5b;
}

a:hover {
  color: #000;
}
/**
 * Type Styles
*/
h1 {
  font-size: 1.75rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.375rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

ol,
p,
ul{
  font-size: 1.125rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

/**
 * Layout Styles
 *
 * @ToDo: Create and style a .main-header class
 *        - Add padding
 *        - Display as flexbox
 *        - Align heading and menu along X axis
 *        - Nav items should be aligned to the right
 */
.container {
  margin: 0 auto;
  padding: .75 rem;
  max-width: 720px;
}

.header {
  margin-bottom: 48px;
  padding: 1rem;
}

.main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-item {
  font-weight: bold;
  padding: .5rem;
  text-decoration: none;
}

.main-nav-item a {
  text-decoration: none;
  padding: .5rem;
  
}

.gallery {
  display: grid;
    grid-gap: .25rem;
    grid-template-columns: repeat(2, 1fr)
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  display: flex;
  justify-content: space-between;
}

/**
 * Larger Screens
 *
 * Use this media query for desktop styles
 */
@media screen and (min-width: 640px){
  .header {
    display: flex;
      align-items: center;  
      justify-content: space-between;
  }
  
  .main-nav-list {
    display: flex;
  }
  
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
  }
}
